<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="cnxSQL" connectionString="Data Source=192.168.1.10;Initial Catalog=EscQnta;User ID=sa;Password=QNTA2016." providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>